## Carregando Dataset pelo drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Importando biblioteca Pandas

In [2]:
import pandas as pd

## Carregando Dataset

In [3]:
df = pd.read_csv('/content/drive/MyDrive/projeto-6/Vendas-livraria-brasil.csv')

## Visualizando Dataset

In [4]:
display(df)

    Índice Vendas    Gênero do Livro Data de Venda  Lucro (R$)
0        0    120  Ficção Científica    05/01/2024      1500.0
1        1     95            Romance    12/02/2024       900.5
2        2    abc         Auto-ajuda    20/03/2024      -200.0
3        3    150           Fantasia    25/04/2024      2100.0
4        4     80           História    10/05/2024       800.0
5        5    100  Ficção Científica    15/06/2024       950.8
6        6     50            Romance    03/07/2024       700.0
7        7    -10           História    18/08/2024         0.0
8        8     85         Auto-ajuda    29/09/2024       850.5
9        9    110           Fantasia    30/10/2024      1200.0
10      10    130  Ficção Científica    08/01/2024      1550.0
11      11     90            Romance    14/02/2024       920.0
12      12    abc           História    25/03/2024      -250.0
13      13    140           Fantasia    28/04/2024      2200.0
14      14    100  Ficção Científica    15/05/2024       990.0
15      15     60         Auto-ajuda    10/06/2024       600.5
16      16     75           História    20/07/2024       700.0
17      17    120            Romance    05/08/2024      1120.0
18      18    abc  Ficção Científica    09/09/2024         0.0
19      19     90  Ficção Científica    15/10/2024       910.0
20      20    100         Auto-ajuda    25/11/2024      1000.0
21      21     80           Fantasia    05/12/2024       800.5
22      22    -10            Romance    01/01/2024       -50.0
23      23    100  Ficção Científica    12/02/2024      1200.0
24      24     85           Fantasia    25/03/2024       900.0
25      25     90            Romance    08/04/2024       950.0
26      26    abc         Auto-ajuda    20/05/2024         0.0
27      27    110           Fantasia    15/06/2024      1400.0
28      28     80           História    30/07/2024       800.0
29      29    120  Ficção Científica    25/08/2024      1550.0
30      30     95            Romance    15/09/2024       980.0
31      31    abc           Fantasia    28/10/2024      -300.0
32      32    100  Ficção Científica    20/11/2024      1100.5
33      33     90           História    08/12/2024       850.0
34      34     80         Auto-ajuda    03/01/2024       810.0
35      35    150            Romance    25/02/2024      2200.0
36      36    abc           Fantasia    12/03/2024         0.0
37      37     95  Ficção Científica    17/04/2024       950.0
38      38    100         Auto-ajuda    25/05/2024      1120.5
39      39     80           História    08/06/2024       850.0
40      40    120  Ficção Científica    18/07/2024      1550.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Índice           41 non-null     int64
 1   Vendas           41 non-null     object
 2   Gênero do Livro  41 non-null     object
 3   Data de Venda    41 non-null     object
 4   Lucro (R$)       41 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.7+ KB

## Limpeza e Transformação

In [6]:
print(df['Vendas'].unique())

['120' '95' 'abc' '150' '80' '100' '50' '-10' '85' '110' '130' '90' '140'
 '60' '75']

In [7]:
df.isnull().sum()

Índice             0
Vendas             0
Gênero do Livro    0
Data de Venda      0
Lucro (R$)         0
dtype: int64

In [8]:
df.duplicated().sum()

np.int64(0)

In [9]:
df['Vendas'] = df['Vendas'].str.replace('abc','0')
print(df['Vendas'].unique())

['120' '95' '0' '150' '80' '100' '50' '-10' '85' '110' '130' '90' '140'
 '60' '75']

In [10]:
df['Vendas'] = df['Vendas'].astype(int)

In [11]:
print(df['Vendas'].dtype)

int64

In [13]:
print(df['Gênero do Livro'].unique())

['Ficção Científica' 'Romance' 'Auto-ajuda' 'Fantasia' 'História']

In [14]:
print(df['Data de Venda'].unique())

['05/01/2024' '12/02/2024' '20/03/2024' '25/04/2024' '10/05/2024'
 '15/06/2024' '03/07/2024' '18/08/2024' '29/09/2024' '30/10/2024'
 '08/01/2024' '14/02/2024' '25/03/2024' '28/04/2024' '15/05/2024'
 '10/06/2024' '20/07/2024' '05/08/2024' '09/09/2024' '15/10/2024'
 '25/11/2024' '05/12/2024' '01/01/2024' '08/04/2024' '20/05/2024'
 '30/07/2024' '25/08/2024' '15/09/2024' '28/10/2024' '20/11/2024'
 '08/12/2024' '03/01/2024' '25/02/2024' '12/03/2024' '17/04/2024'
 '25/05/2024' '08/06/2024' '18/07/2024']

In [15]:
print(df['Lucro (R$)'].unique())

[1500.   900.5 -200.  2100.   800.   950.8  700.     0.   850.5 1200.
 1550.   920.  -250.  2200.   990.   600.5 1120.   910.  1000.   800.5
  -50.   900.   950.  1400.   980.  -300.  1100.5  850.   810.  1120.5]

## Salvando dataset tratado

In [16]:
df.to_csv('/content/drive/MyDrive/projeto-6/Vendas-livraria-brasil-tratado.csv', index=False)